pipeline/backup_and_clean_up_main_1.json
{
	"name": "backup_and_clean_up_main_1",
	"properties": {
		"activities": [
			{
				"name": "category",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "category_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "com_area",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy category_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_area_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(addhours(utcnow(),8),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy com_area",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_area",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_com_area",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_area_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_area_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mon_app",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_area",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mon_app_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mon_app",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mon_app",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_mon_app",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mon_app_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mon_app_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy category_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "category",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_category]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "buckle_point",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "buckle_point",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "category_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "category_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "full_id_path",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "full_id_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "full_name_path",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "full_name_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_highlight",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_highlight",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "is_visible",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_visible",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "is_leaves",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_leaves",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "level",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "level",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "list_sort",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "list_sort",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "merchant_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "merchant_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "parent_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "parent_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "picture_url",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "picture_url",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "taxRate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "taxRate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "third_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "third_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "type",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "first_category_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "first_category_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "enable_add_att",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "enable_add_att",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "high_price",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "high_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "low_price",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "low_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "high_gross_margin",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "high_gross_margin",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "low_gross_margin",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "low_gross_margin",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "tax_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "tax_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field1",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field3",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field4",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field5",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_available",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_available",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "is_deleted",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "is_deleted",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "version_no",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "version_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "create_userid",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "create_userid",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "create_username",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "create_username",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "create_userip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "create_userip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "create_usermac",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "create_usermac",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "create_time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "create_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "create_time_db",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "create_time_db",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "server_ip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "server_ip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_userid",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "update_userid",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "update_username",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "update_username",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_userip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "update_userip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_usermac",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "update_usermac",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "update_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "update_time_db",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "update_time_db",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "client_versionno",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "client_versionno",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "company_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "company_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "store_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "store_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "ref_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "ref_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "full_name_path_lan2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "full_name_path_lan2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "name_lan2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "name_lan2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "File_Path",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "File_Path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Insert_Date",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Insert_Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_category_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_category_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mon_page",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mon_app",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mon_page_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mon_page",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mon_page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_mon_page",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mon_page_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mon_page_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mon_channel",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mon_page",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mon_channel_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mon_channel",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mon_channel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_mon_channel",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mon_channel_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mon_channel_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_merchant",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mon_channel",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_merchant_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_merchant",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_merchant",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_merchant]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_merchant_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_merchant_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_level",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_merchant",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_level_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_level",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_level",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_level]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_level_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_level_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_store",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_level",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_store_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_store",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_store",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_store]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_store_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_store_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "product",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_store",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "product_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy product",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "product",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_product",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_product_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_product_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "we_card",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy product",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "we_card_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy we_card",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "we_card",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_we_card]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_we_card_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_we_card_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "we_qrcode",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy we_card",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "we_qrcode_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy we_qrcode",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "we_qrcode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_we_qrcode]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_we_qrcode_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_we_qrcode_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mall_prom",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy we_qrcode",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mall_prom_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mall_prom",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mall_prom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_mall_prom",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mall_prom_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mall_prom_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "tenantship",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mall_prom",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "tenantship_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy tenantship",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "tenantship",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_tenantship]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_tenantship_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_Tenantship_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_event",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy tenantship",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_event_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_event",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_event",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_event]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_event_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_event_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_event",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_EXTEND",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_extend_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_EXTEND",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_EXTEND",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_EXTEND]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_EXTEND_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_extend_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_privacy_policy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_EXTEND",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_privacy_policy_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_privacy_policy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_privacy_policy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_privacy_policy]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_privacy_policy_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_privacy_policy_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_car",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_privacy_policy",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_car_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_car",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_car",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_car]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_car_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_car_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_special_card_type",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_car",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_special_card_type_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_special_card_type",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_special_card_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_special_card_type]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_special_card_type_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_special_card_type_ssir",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"run_date": {
				"type": "String",
				"defaultValue": "20010101"
			}
		},
		"folder": {
			"name": "BACKUP_AND_CLEAN_UP"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-18T03:17:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}