pipeline/backup_and_clean_up_test.json
{
	"name": "backup_and_clean_up_test",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(addhours(utcnow(),8),'yyyyMMddTHH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy com_area",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_area_clean_up",
						"type": "DatasetReference",
						"parameters": {
							"run_time": {
								"value": "@variables('run_date')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_area_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy com_area",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(addhours(utcnow(),8),'yyyyMMddTHH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"run_date": {
				"type": "String",
				"defaultValue": "20010101"
			}
		},
		"folder": {
			"name": "BACKUP_AND_CLEAN_UP"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-18T04:06:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}