pipeline/backup_and_clean_up_main_2.json
{
	"name": "backup_and_clean_up_main_2",
	"properties": {
		"activities": [
			{
				"name": "com_member_level_record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_level_record_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "com_member_order",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_level_record",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_order_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(addhours(utcnow(),8),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy com_member_order",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_com_member_order",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_order_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_order_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mall_order_goods_map",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_order",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mall_order_goods_map_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mall_order_goods_map",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mall_order_goods_map",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table Raw_Temp.temp_mall_order_goods_map",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mall_order_goods_map_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mall_order_goods_map_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy com_member_level_record",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_level_record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_level_record]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "buckle_point",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "buckle_point",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "category_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "category_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "full_id_path",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "full_id_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "full_name_path",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "full_name_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_highlight",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_highlight",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "is_visible",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_visible",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "is_leaves",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_leaves",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "level",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "level",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "list_sort",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "list_sort",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "merchant_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "merchant_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "parent_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "parent_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "picture_url",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "picture_url",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "taxRate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "taxRate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "third_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "third_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "type",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "first_category_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "first_category_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "enable_add_att",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "enable_add_att",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "high_price",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "high_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "low_price",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "low_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "high_gross_margin",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "high_gross_margin",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "low_gross_margin",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "low_gross_margin",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "tax_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "tax_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field1",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field3",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field4",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ext_field5",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "ext_field5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "is_available",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "is_available",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "is_deleted",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "is_deleted",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "version_no",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "version_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "create_userid",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "create_userid",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "create_username",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "create_username",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "create_userip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "create_userip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "create_usermac",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "create_usermac",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "create_time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "create_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "create_time_db",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "create_time_db",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "server_ip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "server_ip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_userid",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "update_userid",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "update_username",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "update_username",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_userip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "update_userip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_usermac",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "update_usermac",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "update_time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "update_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "update_time_db",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "update_time_db",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "client_versionno",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "client_versionno",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "company_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "company_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "store_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "store_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "ref_id",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "ref_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "full_name_path_lan2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "full_name_path_lan2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "name_lan2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "name_lan2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "File_Path",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "File_Path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Insert_Date",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Insert_Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_level_record_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_level_record_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_order_payment",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mall_order_goods_map",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_order_payment_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_order_payment",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_order_payment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_order_payment]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_order_payment_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_order_payment_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "lottery_record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_order_payment",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "lottery_record_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy lottery_record",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lottery_record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_lottery_record]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_lottery_record_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_lottery_record_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_parking_order",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy lottery_record",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_parking_order_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_parking_order",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_parking_order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_parking_order]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_parking_order_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_parking_order_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "we_card_record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_parking_order",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "we_card_record_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy we_card_record",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "we_card_record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_we_card_record]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_we_card_record_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_we_card_record_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_gift_record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy we_card_record",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_gift_record_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_gift_record",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_gift_record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_gift_record]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_gift_record_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_gift_record_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "so_return",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_gift_record",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "so_return_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy so_return",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "so_return",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_so_return]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_so_return_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_so_return_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_member_kdp_use_record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy so_return",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_member_kdp_use_record_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_member_kdp_use_record",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_member_kdp_use_record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_member_kdp_use_record]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_member_kdp_use_record_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_member_kdp_use_record_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "com_kdp_bonus_history",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_member_kdp_use_record",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "com_kdp_bonus_history_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy com_kdp_bonus_history",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "com_kdp_bonus_history",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_com_kdp_bonus_history]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_com_kdp_bonus_history_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_com_kdp_bonus_history_sssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mon_event_param_union_log",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy com_kdp_bonus_history",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mon_event_param_union_log_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mon_event_param_union_log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mon_event_param_union_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_mon_event_param_union_log]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mon_event_param_union_log_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mon_event_param_union_log_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "foot_step",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mon_event_param_union_log",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "foot_step_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy foot_step",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "foot_step",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table  [Raw_Temp].[temp_foot_step]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_foot_step_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_foot_step_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "we_event_scan",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy foot_step",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "we_event_scan_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy we_event_scan",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "we_event_scan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_we_event_scan]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_we_event_scan_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_we_event_scan_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mon_share_log",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy we_event_scan",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mon_share_log_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mon_share_log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mon_share_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_mon_share_log]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mon_share_log_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mon_share_log_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "mall_shopping_cart",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy mon_share_log",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mall_shopping_cart_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy mall_shopping_cart",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "mall_shopping_cart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [Raw_Temp].[temp_mall_shopping_cart]",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "temp_mall_shopping_cart_clean_up",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp_mall_shopping_cart_ssir",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"run_date": {
				"type": "String",
				"defaultValue": "20010101"
			}
		},
		"folder": {
			"name": "BACKUP_AND_CLEAN_UP"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-18T03:17:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}