pipeline/PRE_PRO_CDM_PERSONAL_PROFILE.json
{
	"name": "PRE_PRO_CDM_PERSONAL_PROFILE",
	"properties": {
		"activities": [
			{
				"name": "Pre_CDM_PERSONAL_PROFILE",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.23:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Pre_PRO_CDM_PERSONAL_PROFILE",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "Copy data from temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Pre_CDM_PERSONAL_PROFILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('Pre_CDM_PERSONAL_PROFILE',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBatchSize": 100000,
						"preCopyScript": "Truncate Table K11_PRO.Pre_CDM_PERSONAL_PROFILE",
						"maxConcurrentConnections": 16,
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Customer_UID",
								"Start_Date"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"parallelCopies": 16,
					"dataIntegrationUnits": 16,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Customer_UID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Customer_UID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Personal_Customer_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Personal_Customer_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Area_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Area_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BU_Source",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BU_Source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name_CN",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Name_Cn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Nick_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Nick_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name_EN",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Name_En",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Title",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone_No",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Phone_No",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Phone_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Tel_No",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Tel_No",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Level_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Level_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Level_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Level_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_Special_Level",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Special_Level",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Union_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Union_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_Marry",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Marry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Expire_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Expire_At",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Cycle_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Cycle_At",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Issue_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Issue_At",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "reg_at",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Reg_at",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Person_Status",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Person_Status",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Res_Zone",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Res_Zone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Res_City",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Res_City",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Res_Province",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Res_Province",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Res_Country",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Res_Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Res_Address",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Res_Address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Zip",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Zip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Gender",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Person_Gender",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Person_Birthday",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Person_Birthday",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Birthday_Short",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Birthday_Short",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Fav_Prod",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Fav_Prod",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Hobby",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Hobby",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Fav_Item",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Fav_Item",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Month_Income",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Month_Income",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Year_Income",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Year_Income",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Family_Monthly_Income",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Family_Monthly_Income",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Person_Address2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Address2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Address3",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Address3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Phone2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Phone2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Email",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Email",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_QQ",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_QQ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Weibo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Weibo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Company",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Company",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Industry",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Industry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Job",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Job",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_Mail_Market",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Mail_Market",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Company_Size",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Company_Size",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Edu_Level",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Edu_Level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Reg_Origin",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Reg_Origin",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Reg_Sub_Origin",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Reg_Sub_Origin",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "License_Plate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "License_Plate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Prefer_Language",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Prefer_language",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "Person_Religion",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Religion",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Person_Ethnic",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Person_Ethnic",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_Deleted",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Deleted",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "DATE"
								},
								"sink": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Par_PRE_CDM_PERSONAL_PROFILE_ssir",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "PRE_CDM_PERSONAL_PROFILE_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 20,
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Processing"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-10T12:08:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}