pipeline/PRO_TRAN_COUPON_RECORD.json
{
	"name": "PRO_TRAN_COUPON_RECORD",
	"properties": {
		"activities": [
			{
				"name": "TRAN_COUPON_RECORD",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "PRO_TRAN_COUPON_RECORD",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "Copy from temp table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TRAN_COUPON_RECORD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('PRO_TRAN_COUPON_RECORD',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBatchSize": 100000,
						"maxConcurrentConnections": 16,
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Coupon_UID"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"parallelCopies": 16,
					"dataIntegrationUnits": 16,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Coupon_UID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Coupon_UID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Coupon_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Coupon_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Customer_UID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Customer_UID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Coupon_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Coupon_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BU_Source",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BU_Source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Account_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "App_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "App_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Coupon_Type",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Coupon_Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Acquire_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Acquire_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Acquaire_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Acquaire_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Consume_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Consume_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Open_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Open_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Union_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Union_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Member_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Customer_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Tier_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Tier_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Is_Give",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Give",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Give_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Give_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Give_Open_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Give_Open_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Consume_Source",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Consume_Source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Staff_Open_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Staff_Open_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Delete_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Delete_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Consume_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Consume_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Consume_Amount",
									"type": "Decimal",
									"physicalType": "DECIMAL",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "Consume_Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Consume_Store_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Consume_Store_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Consume_App_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Consume_App_ID",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "Consume_Tier_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Consume_Tier_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Consume_Origin_Order_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Consume_Origin_Order_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Give_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Give_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Location_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Location_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Coupon_Status",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Coupon_Status",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Start_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Start_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "End_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "End_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Create_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Create_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Update_At",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Update_At",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Is_Deleted",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Deleted",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Exchange_No",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Exchange_No",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "DATE"
								},
								"sink": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Is_Current",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Current",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Par_PRO_TRAN_COUPON_RECORD_ssir",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TRAN_COUPON_RECORD_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 20,
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Processing"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-10T16:49:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}