pipeline/PRO_REF_STORE_20230724.json
{
	"name": "PRO_REF_STORE_20230724",
	"properties": {
		"activities": [
			{
				"name": "Copy from temp table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "PRO_REF_STORE_20230724",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('PRO_REF_STORE',formatDateTime(utcnow(),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBatchSize": 5000,
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Store_ID"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Store_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_BU",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_BU",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SB_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SB_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SB_name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SB_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_Intro",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_Intro",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Mall_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Mall_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_Status",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Store_Status",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Store_Floor",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_Floor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_Unitcode",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_Unitcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_Classify",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Store_Classify",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SB1_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SB1_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SB1_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SB1_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SB2_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SB2_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SB2_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "SB2_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_Cate",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Store_Cate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_Channel_No",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Channel_No",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "DATE"
								},
								"sink": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "DATE"
								},
								"sink": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Is_Current",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Current",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Store_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Store_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Par_PRO_REF_STORE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "REF_STORE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "PRO_REF_STORE_20230724",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "PRO_REF_STORE_20230724",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"concurrency": 20,
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Processing"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-24T12:43:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}