pipeline/PRO_REF_QRCODE.json
{
	"name": "PRO_REF_QRCODE",
	"properties": {
		"activities": [
			{
				"name": "REF_QRCODE",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "PRO_REF_QRCODE",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "REF_QRCODE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('PRO_REF_QRCODE',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBatchSize": 10000,
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Qrcode_ID"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Qrcode_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Qrcode_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Source_BU",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Source_BU",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Account_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "App_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "App_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Qrcode_Ticket",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Qrcode_Ticket",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Ticket_Hash",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Ticket_Hash",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Code_Cate",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Code_Cate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Code_Type",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Code_Type",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Code_Expire",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Code_Expire",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Code_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Code_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Scene_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Scene_ID",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "Scene_Str",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Scene_Str",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Code_Desc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Code_Desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Delay_Day",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Delay_Day",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Effect_Time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Effect_Time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Trigger_Type",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Trigger_Type",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Trigger_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Trigger_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Trigger_Rule_Count",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Trigger_Rule_Count",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Trigger_Status",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Trigger_Status",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Code_Status",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Code_Status",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Data_From",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Data_From",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "Create_Time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Create_Time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Update_Time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Update_Time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Group_ID",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Group_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "DATE"
								},
								"sink": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "DATE"
								},
								"sink": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Is_Current",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Current",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Par_PRO_REF_QRCODE_ssir",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "REF_QRCODE_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 20,
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Processing"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-10T16:42:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}