pipeline/PRO_REF_CHANNEL.json
{
	"name": "PRO_REF_CHANNEL",
	"properties": {
		"activities": [
			{
				"name": "REF_CHANNEL",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "PRO_REF_CHANNEL",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy from temp table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "REF_CHANNEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('PRO_REF_CHANNEL',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBatchSize": 5000,
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Channel_ID"
							],
							"interimSchemaName": ""
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Par_PRO_REF_CHANNEL_ssir",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "REF_CHANNEL_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 20,
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Processing"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-10T16:04:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}