pipeline/PRO_DIGIT_CLICK.json
{
	"name": "PRO_DIGIT_CLICK",
	"properties": {
		"activities": [
			{
				"name": "DIGIT_CLICK",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "PRO_DIGIT_CLICK",
						"type": "DataFlowReference",
						"parameters": {
							"input_event_id": {
								"value": "'@{'1197'}'",
								"type": "Expression"
							},
							"input_app_id": {
								"value": "'@{'133159590442264'}'",
								"type": "Expression"
							},
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy data from temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DIGIT_CLICK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('PRO_DIGIT_CLICK',formatDateTime(addhours(utcnow(),8),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"writeBatchSize": 200000,
						"maxConcurrentConnections": 32,
						"writeBehavior": "Upsert",
						"upsertSettings": {
							"keys": [
								"Click_ID",
								"Visit_ID"
							],
							"interimSchemaName": ""
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 16,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Click_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Click_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Customer_UID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Customer_UID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BU_Source",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "BU_Source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "App_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "App_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "App_Name",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "App_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Session_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Session_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Visitor_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Visitor_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "User_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "User_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Member_ID",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Member_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Page_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Page_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Title_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Title_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Event_Log_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Event_Log_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "event_id",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Event_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Create_Time",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Create_Time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "View_Page",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "View_Page",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "View_Page_Name",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "View_Page_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Area_ID",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Area_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Place_Name",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Place_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Button_Name",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "Button_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MiniProgram_Remark",
									"type": "Int64",
									"physicalType": "INT64"
								},
								"sink": {
									"name": "MiniProgram_Remark",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "Start_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "End_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Is_Current",
									"type": "Int32",
									"physicalType": "INT32"
								},
								"sink": {
									"name": "Is_Current",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Channel_ID"
								},
								"sink": {
									"name": "Channel_ID"
								}
							},
							{
								"source": {
									"name": "Visit_ID"
								},
								"sink": {
									"name": "Visit_ID"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Par_PRO_DIGIT_CLICK_ssir",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DIGIT_CLICK_ssir",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 20,
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Processing"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-10T16:07:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}