pipeline/raw_data-backup_main.json
{
	"name": "raw_data-backup_main",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(addhours(utcnow(),8),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "raw_data-backup",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"run_date": {
				"type": "String",
				"defaultValue": "20231010"
			}
		},
		"folder": {
			"name": "Backup"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-16T09:54:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}