pipeline/SFMC_CDM_TIER_UPGRADE_copy1.json
{
	"name": "SFMC_CDM_TIER_UPGRADE_copy1",
	"properties": {
		"activities": [
			{
				"name": "SFMC_CDM_TIER_UPGRADE_copy1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SFMC_CDM_TIER_UPGRADE_copy1",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy data to SFMC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SFMC_CDM_TIER_UPGRADE_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('CDM_TIER_UPGRADE',formatDateTime(convertTimeZone(utcNow(),'UTC','China Standard Time'),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv.gz",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureFileStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TEMP_SFMC_CDM_TIER_UPGRADE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SHARE_TEMP_SFMC_CDM_TIER_UPGRADE",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SFMC"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-10T17:30:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}