pipeline/SFMC_DIGIT_CLICK_20230727_Missing_ID.json
{
	"name": "SFMC_DIGIT_CLICK_20230727_Missing_ID",
	"properties": {
		"activities": [
			{
				"name": "Copy data to SFMC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SFMC_DIGIT_CLICK_20230727_Missing_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('DIGIT_CLICK',formatDateTime(convertTimeZone(utcNow(),'UTC','China Standard Time'),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv.gz",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureFileStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TEMP_SFMC_DIGIT_CLICK",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SHARE_TEMP_SFMC_DIGIT_CLICK",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().globalParameters.Rerun",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','China Standard Time'),'yyyyMMdd')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Start_Date",
								"value": {
									"value": "@pipeline().globalParameters.Start_Date",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SFMC_DIGIT_CLICK_20230727_Missing_ID",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SFMC_DIGIT_CLICK_20230727_Missing_ID",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SFMC"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-27T08:44:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}