pipeline/SFMC_REF_SITE.json
{
	"name": "SFMC_REF_SITE",
	"properties": {
		"activities": [
			{
				"name": "Copy data to SFMC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "REF_SITE EXTRACT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('REF_Site',formatDateTime(convertTimeZone(utcNow(),'UTC','China Standard Time'),'yyyyMMdd'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv.gz",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureFileStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TEMP_SFMC_REF_Site",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SHARE_TEMP_SFMC_REF_Site",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "REF_SITE EXTRACT",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SFMC_REF_SITE",
						"type": "DataFlowReference",
						"parameters": {
							"Start_Date": {
								"value": "'@{variables('Start_Date')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "1crm-IR-TagMgmt-prod",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"Start_Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SFMC"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-03T14:55:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}